# Created by .ignore support plugin (hsz.mobi)


# Operating System Files 

*.DS_Store
Thumbs.db
*.sw?
.#*
*#
*~
*.sublime-*

# Office 缓存文件
~$*

# 日志排除
logs/*
*.log

# Build Artifacts 

.gradle/
build/
target/
bin/
dependency-reduced-pom.xml

# Eclipse Project Files

.classpath
.project
.settings/

# IntelliJ IDEA Files

*.iml
*.ipr
*.iws
*.idea

#排除自动生成文件
autocode/*

### STS ###
.apt_generated
.factorypath
.settings
.springBeans
.class
